$red: rgb(209, 62, 62);
$green: rgb(104, 185, 104);
$normal: rgb(231, 231, 231);

.normal-button {
  background-color: $normal;
  height: 40px;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin: 10px;

  box-shadow: 0 3px 3px rgb(201, 201, 201);
  color: rgb(53, 53, 53);
}

.green-button {
  @extend .normal-button;
  background-color: $green;
}

.red-button {
  @extend .normal-button;
  background-color: $red;
}
body {
  font-family: "nanumsquare";
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width:100%;
  position:fixed;
  z-index:99;
  background-color:rgb(255,255,255,0.7);
}
.menu {
  align-items: stretch;
}
.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  margin-left: 50px;
  cursor:pointer
}

.menu ul li a,
.nav-bar h1 a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
// .background {
//   background-image: url("/src/assets/image.jpg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   height: 200px;
//   width: 1200px;
// }

.back{
    width:100%;
    top:-96px;
    position:relative;
    z-index:1;
}